.btn {
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.1px;

   &_theme {
      &_primary {
         background-color: var(--btn-bg-color);
         color: var(--btn-text-color);
         border: none;
      }
   }

   &_size {
      &_s {
         padding: 6px 17.5px;
      }
      &_m {
         padding: 12px 38px;
      }
      &_l {
         padding: 12px 97px;
      }
   }
}
