.link {
   font-weight: 500;
   font-size: 1rem;
   line-height: 24px;

   display: flex;
   align-items: center;
   text-align: right;
   letter-spacing: 0.1px;
   color: var(--Primary-1);
   text-decoration: none;
}
